
// CSS goes here :) 

.promo-caption{
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0
}

nav .brand-logo{
	padding-left: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.card-image{
  background-color: #80cbc4;
}

nav {
  margin-bottom: 20px;
}